.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
    border: 1px solid rgb(8, 8, 129);
    padding: 2px;
    padding-left: 60px;
}

.card img {
    width: 620px;
}

.text2 p {
    margin-top: 5px;
    margin-bottom: 5px;
}