.action {
    width: 100px;
    height: 500px;
    font-size: 70px;
    background-color: darkred;
    color: white;
}

.number {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 500px;
    font-size: 70px;
    background-color: white;
}

.btn {
    width: 96px;
    height: 96px;
    border: 2px solid gray;
}

.btn span {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.btn2 {
    width: 296px;
    height: 96px;
}